/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;
$mainColor: #333037;
$headingColor: #333037;
$mainFontSize: 34px;
$mainFont: 'Source Sans Pro',
Helvetica,
sans-serif;
$headingFont: 'Source Sans Pro',
Helvetica,
sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15%);
$selectionBackgroundColor: lighten( $linkColor, 25%);
$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222;
    }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
.reveal .uppercase {
    text-transform: uppercase;
}

.reveal h1 {
    border-bottom: 1px solid #d266bd
;
    text-transform: none;
}

.reveal h2 {
    text-transform: none;
}

.reveal ul,
.reveal ol,
.reveal dl,
{
    display: block;
}

.reveal .progress {
    height: 7px;
}

.reveal .illustration {
    border: none;
    vertical-align: middle;
    box-shadow: none;
}

.reveal .illustration-right {
    float: right;
    margin: 0 0 0 7px;
    border: none;
}

.reveal .illustration-left {
    float: left;
    margin: 0 0 0 7px;
    border: none;
}

.important {
    border: 1px solid #d266bd;
    color: #d266bd;
    font-weight: 700;
}
